{% load static %}
<!-- start banner Area -->
<section class="banner-area relative">
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        {% include 'partials/_alert.html' %}
        <h1 class="wow fadeIn text-danger" data-wow-duration="1s" data-wow-delay=".3s"><span class="text-danger display-1">Blog</span><span class="text-white display-1">Single<span></h1>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->